.matcardML2pgt{
    margin-left: 0%;
}
.bb1px{
    border-bottom: 1px solid rgb(50,109,230);
}
.mrt13pgt{
    margin-top: 13%;
}
.table td {
    text-align: center;   
 }
 .table th {
    text-align: center;   
 }