<div class="fluid-container matcardML2pgt">
  <h4>Add Member</h4>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="name">name</label>
        <input matInput id="name" placeholder="name" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="fatherName">fatherName</label>
        <input matInput id="fatherName" placeholder="fatherName" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="gender">gender</label>
        <input matInput id="gender" placeholder="gender" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="isAcive">RFDS ID</label>
        <input matInput id="isAcive" placeholder="isAcive" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="DOJ">RFDS ID</label>
        <input matInput id="DOJ" placeholder="DOJ" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="username">RFDS ID</label>
        <input matInput id="username" placeholder="username" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="password">RFDS ID</label>
        <input matInput id="password" placeholder="password" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="contactNo">contactNo</label>
        <input matInput id="contactNo" placeholder="contactNo" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="countryCode">countryCode</label>
        <input matInput id="countryCode" placeholder="countryCode" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="memberID">contactNo</label>
        <input matInput id="memberID" placeholder="memberID" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="form-group col">
        <label for="role">contactNo</label>
        <input matInput id="role" placeholder="role" class="form-control bb1px">
      </div>
    </div>
  </div>
  <div class=" col-2">
    <div class="row">
      <div class="col">
        <button id="search" type="submit" class="btn btn-primary mrt13pgt">Add Member</button>
      </div>
    </div>
  </div>
</div>
