<div class="fluid-container matcardML2pgt">
  <h4>Log Viewer</h4>
  <div class="row">
    <div class=" col-10">
      <div class="row">
        <div class="form-group col">
          <label for="BulkID">Bulk ID</label>
          <input matInput id="BulkID" placeholder="Bulk ID" [(ngModel)]="bulkID" (keyup)="applyFilter($event)" class="form-control bb1px">
        </div>
        <div class="form-group col">
          <label for="RfdsID">RFDS ID</label>
          <input matInput id="RfdsID" placeholder="RFDS ID" [(ngModel)]="rfdsID" (keyup)="applyFilter($event)" class="form-control bb1px">
        </div>
      </div>
    </div>
    <div class=" col-2">
      <div class="row">
        <div class="col">
          <button id="search" type="submit" class="btn btn-primary mrt13pgt">Search</button>
        </div>
      </div>
    </div>
  </div>
  <!--mat-table #table [dataSource]="datasource"-->
  <div>
    <mat-table #table [dataSource]="dataSource" id="abstractLogTbl">

      <ng-container matColumnDef="BULKID">
        <mat-header-cell *matHeaderCellDef> BULKID </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.BULKID}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RFDSID">
        <mat-header-cell *matHeaderCellDef> RFDSID </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.RFDSID}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="OPERATIONNAME">
        <mat-header-cell *matHeaderCellDef> OPERATIONNAME </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.OPERATIONNAME}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="REQUESTID">
        <mat-header-cell *matHeaderCellDef> REQUESTID </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.REQUESTID}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="NoOfRequest">
        <mat-header-cell *matHeaderCellDef> NoOfRequest </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button class="ngbDropdownToggle" color="primary">{{element.NoOfRequest}}</button>
        </mat-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
      <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl" (toggleChange)="onToggleChange($event)"></mat-row>
    </mat-table>
    <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </div>
  <ng-template #tpl let-element>
    <div class="mat-row" style="overflow: hidden">
      <!--The symbol for {{element.BULKID}} is {{element.RFDSID}} rfdsID={{element.RFDSID}}-->
      <translog-dialog bulkID={{element.BULKID}} rfdsID={{element.RFDSID}}></translog-dialog>
    </div>
  </ng-template>

  <!--div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>

          </th>
        </thead>
        <thead class="thead-light">
          <tr>
            <th scope="col">REQUEST ID</th>
            <th scope="col">Part ID</th>
            <th scope="col">Total Request Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let abstractLogmo of abstractLogsMo">
            <td>
              {{abstractLogmo.requestId}}
            </td>
            <td>
              {{abstractLogmo.partId}}
            </td>
            <td>
              {{abstractLogmo.requestCount}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div-->
</div>